@{
    ViewBag.Title = "Not Found";
}

<div class="top-container">
    <h1 class="header">404</h1>
</div>

<div class="page-containter">
    <div class="cart-empty">
        Page not found.
    </div>
</div>

