@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;800&display=swap");
html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; }

a {
  text-decoration: none; }

.side_nav {
  position: fixed;
  top: 0;
  bottom: 0;
  background: #212331;
  width: 360px;
  z-index: 99;
  box-sizing: border-box;
  padding: 50px;
  transition: .3s ease all;
  overflow-x: visible; }
  .side_nav .logo {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 50px; }
    .side_nav .logo h1 {
      margin: 0;
      font-size: calc(10px + 1vw); }
      .side_nav .logo h1 a {
        color: #ffffff; }
        .side_nav .logo h1 a:hover {
          color: #00bcd4; }
  .side_nav .menu {
    color: #d5d5d5;
    margin: 0px -50px 0 0; }
    .side_nav .menu .top li {
      font-weight: bold;
      font-size: calc(8px + 0.3vw);
      font-weight: 600;
      text-transform: uppercase; }
      .side_nav .menu .top li a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        box-sizing: border-box;
        padding-left: 0; }
        .side_nav .menu .top li a:hover,
        .side_nav .menu .top li a:hover i {
          color: #00bcd4; }
        .side_nav .menu .top li a i {
          color: #8f9fab;
          margin-right: 40px;
          padding: 6px 10px; }
    .side_nav .menu .top,
    .side_nav .menu .sub {
      list-style-type: none;
      margin: 0;
      padding-left: 0;
      font-size: 1em; }
      .side_nav .menu .top a,
      .side_nav .menu .sub a {
        color: #99A9B5; }
    .side_nav .menu .category-item {
      position: relative;
      width: 100%;
      margin: 0;
      box-sizing: border-box;
      cursor: pointer; }
    .side_nav .menu .category-item i {
      float: right; }
    .side_nav .menu .sub {
      position: absolute;
      top: -1px;
      left: 100%;
      display: none;
      width: 200px;
      background: #393d50;
      border: 1px solid #494c64; }
      .side_nav .menu .sub li {
        border-bottom: 1px solid #494c64; }
        .side_nav .menu .sub li:hover {
          background: #25293c; }
        .side_nav .menu .sub li a {
          padding-left: 16px; }
          .side_nav .menu .sub li a:hover,
          .side_nav .menu .sub li a:hover i {
            color: #fbfbfb; }
          .side_nav .menu .sub li a i {
            margin-right: 0; }
      .side_nav .menu .sub a {
        text-transform: none;
        font-weight: 400;
        color: #99A9B5; }
    @media only screen and (max-width: 1100px) {
      .side_nav .menu .top li a i {
        transform: rotate(90deg); }
      .side_nav .menu .sub {
        position: relative;
        top: auto;
        left: 0;
        overflow: hidden; } }
  .side_nav #cart {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #99A9B5;
    border-top: 1px solid #3f414f;
    padding-top: 20px; }
    .side_nav #cart #items {
      position: relative;
      width: 100%;
      display: flex;
      font-size: calc(6px + 0.3vw);
      align-items: center;
      cursor: pointer; }
      .side_nav #cart #items i {
        display: block;
        padding: 12px;
        font-size: calc(8px + 0.3vw); }
      .side_nav #cart #items:hover i {
        color: #fff; }
      .side_nav #cart #items a {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%; }
      .side_nav #cart #items span {
        display: block;
        padding: 3px 0;
        padding-left: 20px;
        padding-right: 10px;
        box-sizing: border-box;
        font-weight: bold;
        color: #fff;
        clip-path: polygon(10px 0%, 0% 50%, 10px 100%, 100% 100%, 100% 0%);
        background: #00bcd4; }
  .side_nav .user-links {
    margin-top: 20px;
    padding: 20px 0; }
    .side_nav .user-links a {
      display: block;
      padding: 16px 0;
      box-sizing: border-box;
      font-weight: bold;
      font-size: calc(8px + 0.3vw);
      font-weight: 600;
      color: #99A9B5; }
      .side_nav .user-links a i {
        color: #00bcd4;
        margin-right: 10px; }
      .side_nav .user-links a:hover {
        color: #00bcd4; }
  .side_nav .search {
    position: absolute;
    bottom: 50px;
    width: 260px; }
    @media only screen and (max-height: 800px) {
      .side_nav .search {
        position: relative;
        display: block;
        top: auto;
        bottom: auto;
        width: 100%; } }
    .side_nav .search form {
      display: grid;
      grid-template-columns: 1fr 50px; }
    .side_nav .search input {
      height: 40px;
      text-indent: 1em;
      outline: none;
      border: none;
      padding: 0;
      color: #99A9B5;
      background: #2b2d3b; }
    .side_nav .search button {
      height: 40px;
      cursor: pointer;
      background: #3f414f;
      border: none;
      color: #99A9B5; }
      .side_nav .search button:hover {
        background: #00bcd4;
        color: #fff; }
  @media screen and (max-height: 600px) {
    .side_nav {
      overflow-y: scroll; } }

.active {
  display: block !important; }
  .active li a i {
    transform: rotate(-90deg); }

/* Hide scrollbar for Chrome, Safari and Opera */
.side_nav::-webkit-scrollbar {
  display: none; }

/* Hide scrollbar for IE, Edge and Firefox */
.side_nav {
  -ms-overflow-style: none;
  /* IE and Edge */ }

.content {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 360px;
  transition: .3s ease all; }
  .content .main-content {
    min-height: 100vh; }

.home-page {
  position: relative;
  background: #d2dae4;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 1px;
  height: auto; }
  @media screen and (max-width: 1300px) {
    .home-page {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      grid-template-rows: auto; }
      .home-page .home-product {
        min-height: 30rem; } }
  .home-page .home-product {
    position: relative;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
    box-sizing: border-box;
    padding: 20px; }
    .home-page .home-product .thumbnail {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: .3s ease-in;
      transform: scale(0.56); }
    .home-page .home-product .product-info {
      position: absolute;
      left: 20px;
      bottom: 20px;
      right: 20px;
      background: rgba(255, 255, 255, 0.44);
      font-size: 14px; }
      .home-page .home-product .product-info p {
        margin: 0;
        text-shadow: 2px 2px 0px #fff, -2px -2px 0px #fff, 2px -2px 0px #fff, -2px 2px 0px #fff;
        color: #858aa8;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%; }
      .home-page .home-product .product-info .name {
        width: 90%;
        line-height: 37px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px; }
    .home-page .home-product .animation-circle {
      background: #00bcd0;
      opacity: .44;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      transition: .3s ease-in;
      z-index: 3; }
    .home-page .home-product .new-tag {
      position: absolute;
      top: 20px;
      left: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 700;
      background: #d0d6d7;
      color: #fff;
      width: 40px;
      transition: .5s ease all;
      height: 40px;
      border-radius: 50%;
      z-index: 2; }
    .home-page .home-product .addToCart {
      position: absolute;
      top: 20px;
      right: 20px;
      right: 20px;
      z-index: 4;
      font-size: 14px;
      transition: .5s ease all;
      opacity: 0; }
      .home-page .home-product .addToCart a {
        color: #fff;
        background: rgba(73, 76, 100, 0.58);
        font-weight: 700;
        text-transform: uppercase;
        box-sizing: border-box;
        padding: 10px;
        text-align: center;
        font-size: 1.2em;
        transition: .2s ease-in; }
        .home-page .home-product .addToCart a:hover {
          background: #494c64; }
    .home-page .home-product:hover .animation-circle {
      padding: 140%; }
    .home-page .home-product:hover .thumbnail {
      transform: scale(0.65); }
    .home-page .home-product:hover .addToCart {
      opacity: 1; }
  .home-page .home-product:nth-child(1) {
    grid-area: 1 / 1 / 9 / 4; }
  .home-page .home-product:nth-child(2) {
    grid-area: 9 / 1 / 13 / 3; }
  .home-page .home-product:nth-child(3) {
    grid-area: 9 / 3 / 13 / 5; }
  .home-page .home-product:nth-child(4) {
    grid-area: 9 / 5 / 13 / 7; }
  .home-page .home-product:nth-child(5) {
    grid-area: 1 / 10 / 7 / 13; }
  .home-page .home-product:nth-child(6) {
    grid-area: 7 / 10 / 13 / 13; }
  .home-page .home-product:nth-child(7) {
    grid-area: 1 / 4 / 5 / 7; }
  .home-page .home-product:nth-child(8) {
    grid-area: 5 / 4 / 9 / 7; }
  .home-page .home-product:nth-child(9) {
    grid-area: 6 / 7 / 13 / 10; }
  .home-page .home-product:nth-child(10) {
    grid-area: 1 / 7 / 6 / 10; }
  @media screen and (max-width: 1300px) {
    .home-page .home-product:nth-child(1) {
      grid-area: auto; }
    .home-page .home-product:nth-child(2) {
      grid-area: auto; }
    .home-page .home-product:nth-child(3) {
      grid-area: auto; }
    .home-page .home-product:nth-child(4) {
      grid-area: auto; }
    .home-page .home-product:nth-child(5) {
      grid-area: auto; }
    .home-page .home-product:nth-child(6) {
      grid-area: auto; }
    .home-page .home-product:nth-child(7) {
      grid-area: auto; }
    .home-page .home-product:nth-child(8) {
      grid-area: auto; }
    .home-page .home-product:nth-child(9) {
      grid-area: auto; }
    .home-page .home-product:nth-child(10) {
      grid-area: auto; } }

.product-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3; }

.close-side-nav {
  position: absolute;
  display: none;
  width: 50px;
  top: 0;
  left: 100%;
  transform: translateX(-100%);
  z-index: 100;
  cursor: pointer;
  height: 50px;
  box-sizing: border-box; }
  @media (max-width: 1200px) {
    .close-side-nav {
      display: block; } }
  .close-side-nav span {
    display: block;
    width: 70%;
    height: 6px;
    background: #5d5f6d;
    margin-top: 7px;
    border-radius: 3px;
    margin-left: 15%;
    transition: .5s ease all; }
  .close-side-nav span:first-child {
    margin-top: 8px; }
  .close-side-nav:hover span {
    background: #99A9B5; }

.active-nav span {
  margin-top: 0;
  position: absolute;
  top: 50%;
  margin: 0; }
  .active-nav span:nth-child(1) {
    transform: rotate(45deg); }
  .active-nav span:nth-child(2) {
    display: none; }
  .active-nav span:nth-child(3) {
    transform: rotate(-45deg); }

.active-nav .close-div {
  margin-left: 15%; }

.active-nav span:first-child {
  margin-top: 0; }

@media screen and (max-width: 1200px) {
  .side_nav {
    margin-left: -310px; }
  .content {
    padding-left: 50px; } }

/*=====================================================================================================*/
/* PRODUCTS PAGE */
/*=====================================================================================================*/
.top-container {
  position: relative;
  background: url("/Content/img/header.jpg") center center;
  background-size: cover;
  color: #99A9B5;
  padding: 0 10%;
  padding-top: 100px;
  text-align: right;
  overflow: hidden; }
  .top-container h1 {
    display: block;
    color: #fff;
    margin-bottom: 90px;
    font-size: 3em;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 14%;
    text-overflow: ellipsis; }
  .top-container .header {
    padding-bottom: 90px;
    margin: 0; }
  .top-container * {
    margin: 0;
    padding: 0; }
  .top-container .ctg-link {
    color: #fff;
    display: inline-block;
    box-sizing: border-box;
    padding-bottom: 16px;
    margin: 0 10px;
    font-size: 14px;
    border-bottom: 4px solid transparent; }
  .top-container .active-ctg {
    color: #00bcd4;
    border-bottom: 4px solid #00bcd4; }
  .top-container i {
    color: #fff; }

#products {
  padding: 100px 10%; }
  #products .results {
    font-size: .9rem;
    color: #93a0a8; }

.filter-menu {
  position: relative;
  width: 100%;
  background: #F4F6F7;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 2rem; }
  .filter-menu select,
  .filter-menu input,
  .filter-menu .search-btn {
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #a6b0bd;
    height: 30px;
    outline: none;
    box-sizing: border-box; }
  .filter-menu .order-list {
    min-width: 150px; }
  .filter-menu .search-txt {
    float: left;
    padding: 0 10px; }
  .filter-menu .search-btn {
    width: 40px;
    background: #00bcd4;
    color: #fff;
    cursor: pointer; }
  .filter-menu form {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .filter-menu form .right {
      display: grid;
      grid-template-columns: 1fr 40px; }
  @media screen and (max-width: 1000px) {
    .filter-menu form {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px; } }

.product-list {
  position: relative;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  width: 100%; }
  .product-list .product {
    position: relative;
    min-height: 22rem;
    border: 1px solid #DFE5E8;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
    background: #fff;
    cursor: pointer; }
    .product-list .product:before {
      content: '';
      background: linear-gradient(45deg, #7acef8, #7acef8, transparent, transparent, #7acef8, #7acef8, transparent, transparent);
      position: absolute;
      top: -2px;
      left: -2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing 4s linear infinite;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      border-radius: 10px; }
    .product-list .product .product-image {
      position: relative;
      width: 100%;
      height: 20rem;
      overflow: hidden;
      padding: 1.4em 0; }
      .product-list .product .product-image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 1em;
        object-fit: contain;
        transition: .3s ease-in;
        transform: scale(0.7); }
    .product-list .product .product-info {
      position: relative;
      margin: -1rem;
      margin-top: 0;
      padding: 1.5rem;
      transition: .3s ease all; }
    .product-list .product .product-details {
      position: relative;
      box-sizing: border-box; }
      .product-list .product .product-details .name {
        padding-top: 1.4em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        -webkit-box-orient: vertical;
        font-size: 1em;
        line-height: 1.5em;
        color: #5F727F;
        height: 3em;
        margin-top: 1em; }
        .product-list .product .product-details .name:before {
          content: '';
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 30%;
          height: 2px;
          transition: .3s ease all;
          background: #00BCD4; }
      .product-list .product .product-details .price {
        padding: 1em 0;
        text-align: center;
        color: #00bcd4; }
    .product-list .product .add-product {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-100%);
      width: 100%;
      text-align: center;
      opacity: 0;
      text-transform: uppercase;
      background: #00bcd4;
      transition: .3s ease all;
      z-index: 4; }
      .product-list .product .add-product:hover {
        background: #14d0e8; }
      .product-list .product .add-product a {
        display: block;
        padding: 10px 0;
        color: #fff;
        font-weight: bold;
        font-size: .9em; }
    .product-list .product:hover:before {
      opacity: 1; }
    .product-list .product:hover .product-info {
      background: #f4f6f7; }
      .product-list .product:hover .product-info .name:before {
        width: 40%; }
      .product-list .product:hover .product-info .add-product {
        opacity: 1; }

.empty-list {
  position: relative;
  width: 100%;
  color: #99A9B5;
  text-align: center; }

.page-menu {
  width: 100%;
  background: #F4F6F7;
  text-align: center;
  box-sizing: border-box;
  padding: 8px;
  margin-top: 2rem; }
  .page-menu a {
    display: inline-block;
    width: 30px;
    margin: 0 2px;
    font-size: 14px;
    line-height: 30px;
    background: #fff; }
  .page-menu .active-page {
    background: #00bcd4;
    color: #fff; }

@keyframes glowing {
  0% {
    background-position: 0 0; }
  50% {
    background-position: 100% 0; }
  100% {
    background-position: 0 0; } }

/*=====================================================================================================*/
/* PRODUCT PAGE */
/*=====================================================================================================*/
.product-page {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6rem;
  padding: 5rem 10%; }
  @media screen and (max-width: 800px) {
    .product-page {
      grid-template-columns: 1fr; } }
  .product-page .product_gallery {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
    grid-gap: 10px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding-top: 52vh; }
    .product-page .product_gallery .gallery_main {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50vh;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      overflow: hidden; }
      .product-page .product_gallery .gallery_main .gallery_img {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        box-sizing: border-box;
        padding: 4rem; }
    .product-page .product_gallery .gallery_thumb {
      position: relative;
      box-sizing: border-box;
      display: block;
      margin: 0;
      padding-bottom: 100%;
      box-sizing: border-box;
      border: 1px solid #d0cccc;
      cursor: pointer;
      opacity: .4; }
      .product-page .product_gallery .gallery_thumb img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        box-sizing: border-box;
        padding: 10px; }
    .product-page .product_gallery .gallery_selector {
      position: absolute;
      opacity: 0;
      visibility: hidden; }
      .product-page .product_gallery .gallery_selector:checked + .gallery_main {
        opacity: 1; }
        .product-page .product_gallery .gallery_selector:checked + .gallery_main .gallery_img {
          top: 0; }
      .product-page .product_gallery .gallery_selector:checked ~ .gallery_thumb {
        box-shadow: inset 0 0 0 2px #00bcd4;
        border-color: #00bcd4;
        opacity: 1; }
  .product-page .product-details {
    color: #4e5e69;
    font-weight: 300; }
    .product-page .product-details h2 {
      margin: 0;
      font-size: 1.6rem;
      font-weight: 300;
      border-bottom: 1px solid #d6e3ed;
      padding-bottom: 1.5rem; }
    .product-page .product-details .product-price {
      font-size: 1.6rem;
      color: #00bcd4;
      margin: 2rem 0; }
    .product-page .product-details .product-description {
      font-size: 1rem;
      line-height: 1.8rem;
      margin-bottom: 2rem; }
    .product-page .product-details .add-to-cart {
      display: block;
      line-height: 50px;
      text-align: center;
      border-radius: 4px;
      padding: 0 2rem;
      color: #fff;
      border: none;
      margin: 0;
      font-size: 1.2rem;
      background: #00bcd4;
      vertical-align: top;
      margin-top: 2rem;
      transition: .3s ease all;
      cursor: pointer; }
      .product-page .product-details .add-to-cart:hover {
        background: #494c64; }
    .product-page .product-details .added {
      background: #494c64;
      float: left; }
      .product-page .product-details .added i {
        font-size: .9rem; }

.product-quantity {
  display: flex;
  overflow: hidden;
  width: 8rem; }
  .product-quantity .plus,
  .product-quantity .minus {
    background: #DFE5E8;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    color: #5F727F;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: .3s ease all;
    vertical-align: top; }
  .product-quantity .product-quantity-value {
    overflow: hidden;
    height: 2rem;
    padding: 0;
    border: none;
    outline: none;
    background: #F4F6F7;
    width: 3rem !important;
    text-align: center;
    vertical-align: top;
    margin: 0; }

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/*=====================================================================================================*/
/* CART PAGE */
/*=====================================================================================================*/
#user-cart {
  padding: 6rem 10%;
  position: relative;
  margin-bottom: 6rem; }
  #user-cart .cart-products {
    display: block;
    color: #5F727F; }
    #user-cart .cart-products table thead {
      background: #eff1f2;
      text-align: left;
      color: #000;
      text-transform: uppercase; }
      #user-cart .cart-products table thead th {
        font-weight: 300; }
    #user-cart .cart-products table tbody tr td:nth-child(2) {
      display: flex;
      align-items: center; }
    #user-cart .cart-products table tbody tr td:nth-child(3),
    #user-cart .cart-products table tbody tr td:nth-child(5) {
      white-space: nowrap; }
  #user-cart .cart-total {
    background: #F4F6F7;
    width: 100%;
    max-width: 25rem;
    box-sizing: border-box;
    float: right;
    text-align: center;
    letter-spacing: 1px;
    color: #5F727F;
    margin-top: 2rem;
    margin-bottom: 2rem; }
    #user-cart .cart-total .total {
      display: block;
      padding: 2rem 0;
      text-transform: uppercase; }
    #user-cart .cart-total .order {
      display: block;
      background: #00bcd4;
      padding: 1rem 0;
      color: #ffffff; }
  #user-cart .cart-product-image {
    position: relative;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    margin-right: 2rem; }
    #user-cart .cart-product-image img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: contain; }
  #user-cart .cart-product-link {
    color: #00bcd4;
    font-size: .9rem; }
  #user-cart .cart-remove-product {
    position: relative;
    display: block;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    font-size: 1.6rem;
    transform: rotate(45deg);
    background: #f67c7c;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    margin-left: .5rem; }
  #user-cart .product-quantity {
    align-items: center; }

table {
  position: relative;
  width: 100%;
  border-collapse: collapse; }
  table tr {
    border: 1px solid #eaeced; }
  table td {
    padding: 1.6rem 1rem; }
  table th {
    padding: 1.3rem 1rem; }
  table tr:nth-child(even) {
    background: #f9fbfc; }
  @media (max-width: 800px) {
    table thead {
      display: none; }
    table tbody, table tr, table td {
      display: block;
      width: 100%; }
    table tr {
      position: relative;
      box-sizing: border-box;
      margin-bottom: 2rem; }
      table tr td {
        text-align: left;
        box-sizing: border-box;
        padding-left: 38%; }
        table tr td::before {
          content: attr(data-label);
          position: absolute;
          left: 0;
          width: 35%;
          text-align: left;
          overflow: hidden; } }

.page-containter {
  padding: 6rem 10%; }

.cart-empty {
  display: block;
  background: #F4F6F7;
  padding: 4rem 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 4rem;
  overflow: hidden; }

.form {
  position: relative;
  width: 100%;
  overflow: hidden;
  font-size: .9rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  color: #676767; }
  .form * {
    box-sizing: border-box; }
  .form .form-item {
    position: relative;
    width: 100%;
    grid-column: 1/5; }
    .form .form-item label {
      display: block;
      padding-bottom: .6rem; }
    .form .form-item input[type=text],
    .form .form-item input[type=number],
    .form .form-item input[type=email],
    .form .form-item input[type=password],
    .form .form-item select {
      display: block;
      width: 100%;
      border: none;
      outline: none;
      height: 3rem;
      color: #5F727F;
      padding: 0 1rem;
      border: 1px solid #d9d9d9;
      border-radius: .4rem; }
    .form .form-item input[type=checkbox] {
      display: inline-block; }
    .form .form-item span {
      color: #ff7171; }
  .form button[type=submit] {
    width: 100%;
    height: 3rem;
    border: none;
    cursor: pointer;
    grid-column: 1/5;
    background: #00bcd4;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1rem;
    max-width: 14rem;
    border-radius: .4rem;
    margin-left: 20px; }

#order .form .form-item:nth-child(2) {
  grid-column: 1/3; }

#order .form .form-item:nth-child(3) {
  grid-column: 3/5; }

#order .form .form-item:nth-child(5) {
  grid-column: 1/2; }

#order .form .form-item:nth-child(6) {
  grid-column: 2/5; }

@media screen and (max-width: 600px) {
  #order .form .form-item:nth-child(2) {
    grid-column: 1/5; }
  #order .form .form-item:nth-child(3) {
    grid-column: 1/5; }
  #order .form .form-item:nth-child(5) {
    grid-column: 1/3; }
  #order .form .form-item:nth-child(6) {
    grid-column: 3/5; } }

#order a {
  color: #5F727F; }

#order-created {
  font-size: .9rem;
  color: #6b6b6b;
  margin: 0 10%;
  margin-top: 6rem;
  background: #e8f5ff;
  padding: 2rem;
  box-shadow: 0 0 8px #d4d4d4; }
  #order-created p, #order-created details, #order-created summary {
    margin: .5rem 0; }
  #order-created a {
    display: block;
    color: #ff6a6a;
    margin-top: 2rem; }
    #order-created a:hover {
      text-decoration: underline; }
  #order-created span {
    color: #00bcd4; }
  #order-created .red-text {
    color: #ff6a6a; }
  #order-created summary {
    cursor: pointer; }

.auth-form {
  padding: 0 24%; }
  .auth-form .check {
    display: flex;
    margin-bottom: -1.5rem; }
    .auth-form .check label {
      margin-left: .5rem; }
  .auth-form input[type=submit] {
    display: block;
    width: 100%;
    height: 3rem;
    background: #00bcd4;
    color: #fff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: .4rem; }
    .auth-form input[type=submit]:hover {
      background: #5F727F; }
  .auth-form .link {
    color: #00bcd4; }

#profile {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2vw;
  grid-auto-rows: minmax(min-content, max-content); }
  @media (max-width: 800px) {
    #profile {
      grid-template-columns: 1fr; }
      #profile .my-account {
        grid-row: 2/3; }
      #profile .my-orders {
        grid-row: 1/2; } }
  #profile h2 {
    margin: 0;
    color: #49545b;
    padding-bottom: 2rem; }
  #profile .my-account {
    box-sizing: border-box;
    padding-top: 2vw; }
    #profile .my-account .form-item:nth-child(2) {
      grid-column: 1/3; }
    #profile .my-account .form-item:nth-child(3) {
      grid-column: 3/5; }
    #profile .my-account .form-item:nth-child(5) {
      grid-column: 1/2; }
    #profile .my-account .form-item:nth-child(6) {
      grid-column: 2/5; }
    #profile .my-account .form-item button {
      margin: 0;
      max-width: 100%; }
  #profile .my-orders .orders {
    background: #F4F6F7;
    box-sizing: border-box;
    padding: 2vw; }
    #profile .my-orders .orders .order {
      margin-bottom: 1.2rem; }
      #profile .my-orders .orders .order a {
        background: #fff;
        display: block;
        padding: 1rem;
        text-align: center;
        color: #9c9c9c;
        transition: .3s ease all; }
        #profile .my-orders .orders .order a:active {
          color: #9c9c9c; }
        #profile .my-orders .orders .order a:hover {
          box-shadow: 0 0 0 0.1rem #00bcd4;
          color: #00bcd4; }

#footer {
  background: url("/Content/img/header.jpg") center center;
  background-size: cover;
  display: block;
  display: flex;
  justify-content: space-between;
  color: #99A9A8;
  padding: 1.5rem 10%;
  line-height: 1rem;
  font-size: .8rem;
  overflow: hidden; }
  #footer a {
    color: #00bcd4; }
  #footer .email {
    text-align: right; }
